ol.Leaderboard {
  counter-reset: li; /* Initiate a counter */
  border: solid 1px black;
  margin: 0;
  padding: 0 .6em;
  background-color: #EFEFEF;
  width: 20em;

  > li:before {
    content: counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    position: absolute;
    left: 0px;
    top: 12px; /* match top padding of li element */
    color: #999999;
    font-weight: bold;
    font-size: 2em;
  }
  li {
    border-bottom: dotted 1px #9A9A9A;
    padding: .1em 2em .1em;
    list-style: none;
    position: relative;
  }
  p,
  h2 {
    margin: 0;
  }

  h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 12em;
	}
}
